body{
    font-family: 'Roboto','Calibri';
}
.margin{
    margin-top:5px;
}

dl p{
	    display: inline;
}

.deleteImage{
	background: none;
    border: none;
    font-size: 29px;
    position: absolute;
    color: red;
}
.deletePdf{
		background: none;
    border: none;
    font-size: 29px;
    
    color: red;
}
.minilogo{
    width: 50px;
    height: 50px;
}
.margin-top-bottom{
    margin-top:10px;
    margin-bottom:10px;
}
.right{
margin-right:10px;
    }
.dl-horizontal label ,.dl-horizontal p{
    font-size: 18px;
    font-weigth:bold;
}
.thumb{
    width:20%;
}
.reded{
    color:red;

     font-weight: bold;
}
.label2{
    font-size: 18px;
}