
.cover{
    display:none;
    position:absolute;
    border-radius: 200px;

    background: black;
    width: 80%;
    height: 81%;
    left: 40px;
    top: 30px;
    opacity: 0.75;
}
.titleOfCategory{
   font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 60px;
    opacity: 1;
}
.mainImageCategory, .img2{
    border:5px black solid;
}
.plane{
    font-size:40px;
    color: #ff9933;
}
.read-more{
   font-size: 17px;
    position: relative;
    float: right;
    background: #ff9933;
    font-weight: bold;
    padding: 10px;
    border-top: darkgrey 3px solid;
    border-left: darkgrey 3px solid;
    border-right: darkgrey 3px solid;
    top: -48px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color:black;
}
.read-more2{
   font-size: 17px;
    position: relative;
    float: right;
    background: #ff9933;
    font-weight: bold;
    padding: 10px;
    border-top: lightgrey 2px solid;
    border-left: lightgrey 2px solid;
    border-right: lightgrey 2px solid;
   
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color:black;
}
.line{
    width: 100%;
    border:1px darkgrey solid;
}
.title-product{
    font-size:20px;
    font-weight:bold;
    text-decoration: none;
    color:black;
}
.descr{
     
    text-decoration: none;
    color:black;
}
.read-more:hover, .read-more2:hover{
     background: black;
      color: #ff9933;
}
.cover2{
    display:none;
         position: absolute;
    border-radius: 500px;
    background: black;
    width: 70%;
    height: 78%;
    left: 40px;
    top: 26px;
    opacity: 0.75;
}
.titleOfCategory2{
     font-size: 17px;
    color: white;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 34px;
    opacity: 1;
}
.plane2{
    font-size:30px;
    color: #ff9933;
}
.info{
    font-weight: normal;
    font-size:15px;
    color:#6c6e70;
}
.form{
  
    width: 100%;
    height: 250px;
  
}

#owl-demo3{
    margin-top:10px;
}
#owl-demo3 .owl-theme{
          margin-top: 45px;
}
.button-er{
        font-size: 17px;
    background: #ff9933;
    font-weight: bold;
    color: black;
    padding: 15px;
    text-decoration: none;
    position: absolute;
    float: left;
    bottom: 0px;
    width: 94%;
    border-top: 5px black solid;
    text-align: center;
}

.button-er:hover{
     text-decoration: none;
    background: black;
    color: #ff9933;
    width: 94%;
    height: 302px;
    font-size: 50px;
}
.form{
    width: 100%;
    height:300px;
        margin-top: 10px;


}
.register{

    background: lightgrey;
    width: 400px;
    height: 400px;
    background: url(/images/laptop2.png) top center no-repeat;
    background-color: rgba(248, 247, 216, 0.7);
    opacity: 1;
    border-radius: 50%;
    color:black;
    border:5px black solid;
  position: relative;
}
.layer{
      background-color: rgba(197, 203, 214, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
}
.layer2{
      background-color: rgba(197, 203, 214, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
      text-align: center;
}
.register2{
<<<<<<< HEAD
   box-shadow: -webkit-box-shadow: 10px 10px 80px 11px rgba(156,150,156,0.8);
-moz-box-shadow: 10px 10px 80px 11px rgba(156,150,156,0.8);
box-shadow: 10px 10px 80px 11px rgba(156,150,156,0.8);
=======
   text-align: center;
>>>>>>> 25c0cc385c58cd71c1e5d7be2c41eb42f82a8f9c
    background: lightgrey;
    width: 400px;
    height:400px;
     background:url('/images/laptop.png')  top center no-repeat;
     opacity: 1;
      border-radius: 50%;
         border:5px black solid;
}
.register2:hover, .register:hover{
   
    background: black
}
.text{
        min-height: 146px;

}
.register a, .register2 a{
    text-decoration: none;
    position: relative;
    top: 133px;
    color: black;
    font-size:38px;
    font-weight: bold
}

.footer{
        background: lightgrey;
    color: white;
    width: 100%;
    height: 90px;
}
.footer2 p{
    font-size:15px;
    position:relative;
    top:15px;
    color:black;
}
.footer2{
        background: lightgrey;
    color: white;
    width: 100%;
    height: 50px;
}
.white{
      background: white;
    color: white;
    width: 100%;
    height: 15px;
}
.logo{
       width: 70px;
    height: 70px;
    position: absolute;
    top:8px;
}
.bottom-nav{
    margin-top:13px;
}
.bottom-nav a{
    color: black;
    font-size:15px;

}
.bottom-nav a:hover,.bottom-nav a:active,.bottom-nav a:focus {
    text-decoration: none;
}
.bottom-nav  li {
    width: auto;
    float: left;
    /* margin-right: 20px; */
    border-bottom: 2px black solid;
    color: black;
    text-decoration: none;
    padding: 8px 9px;
    display: block;
    font-weight: bold;
}
.bottom-nav  li:hover{
    border-bottom:2px solid #ff9933;
;
}
.bottom-nav a:hover{
    color: #ff9933;
}
.logo2{
         width: 101px;
    height: 101px;
  
}
.top-nav{
    margin-top:13px;
}
.top-nav a{
    color: black;
    font-size:20px;

}
.top-nav a:hover,.top-nav a:active,.top-nav a:focus {
    text-decoration: none;
}
.top-nav  li {
    width: auto;
    float: left;
    /* margin-right: 20px; */
    border-bottom: 2px black solid;
    color: black;
    text-decoration: none;
    padding: 8px 9px;
    display: block;
    font-weight: bold;
}
.top-nav  li:hover{
    border-bottom:2px solid #ff9933;
    background: none;
;
}
.top-nav a:hover{
    color: #ff9933;

}
.nav>li>a:focus, .nav>li>a:hover{
    background: none;
}
.red{
    color:red;
}
.small{
    font-size:20px;
}
.form2{
   
    background:  url('/images/sunset.jpg')  top center ;
    padding:20px;
    box-shadow: -webkit-box-shadow: 10px 10px 80px 11px rgba(156,150,156,0.8);
-moz-box-shadow: 10px 10px 80px 11px rgba(156,150,156,0.8);
box-shadow: 10px 10px 80px 11px rgba(156,150,156,0.8);
border-radius: 15px;
}
.label{
    font-size:17px;
    color:black;
    margin-bottom:5px;
}
.text-hidden{
    opacity: 0;
}
.text2{
        min-height: 20px;

}
.margin-top{
    margin-top:30px;
}
.navbar-default{
    background: none;
}
.navbar-default .navbar-nav>.active>a  {
    color: #ff9933;
    background: none;
}
.navbar-nav>li>a:hover{
color: #ff9933;
    }
.nav li a:active{
    color:#ff9933;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: none;
}
.margin-top-bottom{
    margin-top:10px;
    margin-bottom:10px;
}
.mrg{
    margin-top:5px;
}
.project{
   width: 100%;
    height: 1200px;
    background:   #ffcb8d;
}
#owl .owl-item{
    margin-right:15px;
}
#owl{
    width: 90%;
}
.tbs li{
    border: 5px black solid;
    margin-right:10px;
    background: #ffdfad;
 border:2px  lightgrey solid;
     display: inline-block;
}
.tbs li a{
    color:black;
    font-size: 17px;
    font-weight:bold;
}
.tbs{
    border:none;
}
.tbs .active{
    background: #ff9933; 
   border:2px  lightgrey solid;
}
.well p{
    font-size:20px;
}
.well-orange{
    background: white;
        box-shadow: 10px 10px 80px 11px rgba(156,150,156,0.8);
border: 3px  lightgrey solid;
}
.wow{
    font-size: 19px;
}
.orange{
    color: #ff9933;
    font-size:27px;
}
.yellow{
    color:#ff9933;
    font-size: 20px;
}
.info-org{
    font-size: 17px;
     font-weight: bold;
     padding: 10px;
}
.info-org-big{
     font-size: 20px;
    font-weight: bold;
}

  
.logo-org{
    padding: 10px}
.org{
        width: 100%;
       min-height: 180px;
  box-shadow: 10px 10px 80px 11px rgba(156,150,156,0.8);
    border: 3px  lightgrey solid;
    margin-right: 10px;
    margin-bottom: 10px;
}
.title-org{
    padding-top: 10px;

}
.arrow{
    font-size: 30px;
    color: #ff9933;
    margin-top: 5px;
}
.logo-org{
         margin-top: 10px;
    margin-left: 9px;
}
.read-more-org a{
    
    float:right;
   
}
.apply{
    color:#color:#337ab7;;
    text-decoration: none;
    font-size: 25px;
    border-bottom:2px solid #ff9933;
}
.apply:hover{
 color:#color:#337ab7;;
}
.right-border{
    min-height: 265px;
    
    border-right: lightgrey solid 2px;
}
